body {
  max-width: 1440px;
  margin: auto;
}
@media screen and (max-width: 375px) {
  body {
    max-width: 375px;
    width: 99.5%;
  }   
}
p, li, a {
  font-family: Montserrat;
}
ul {
  list-style-type: none;
  margin-inline-end: 0;
  padding-inline-start: 0;
}