.banner {
    position: relative;
    width: 100%;
    height: 223px;
    margin-bottom: 20px;
    &-image {
        width: 100%;
        height: 223px;
        object-fit:cover;     
        border-radius: 25px;
        mix-blend-mode: darken;
    }
    &-p__m1 {
        display: none;
    }
    &-p__m2 {
        display: none;
    }
    &-p__d {
        position: absolute;
        top: 45px;
        left: 21.57%;
        text-align: center;
        font-size: 48px;
        font-weight: 500;
        line-height: 68.45px;
        color: rgba(255, 255, 255, 1);
    }
}
@media screen and (max-width: 375px) {
    .banner {
        width: 100%;
        height: 111px;
        margin-bottom: 10px;
        &-image {
            width: 100%;
            height: 111px;
            object-fit: fill;     
            border-radius: 25px;
            mix-blend-mode: darken;
        }
        &-p__d {
            display: none;
        }
        &-p__m1 {
            position: absolute;
            top: 0;
            left: 10px;
            display: inline;
            list-style-type: none;    
        }
        &-p__m2 {
            display:inline;
            text-align: left;
            font-size: 24px;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
        }
    }
}