@keyframes arrowdown {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(0.5turn);
  }
}
@keyframes arrowup {
  0% {
    transform: rotate(0.5turn);
  }
  100% {
    transform: rotate(0turn);
  }
}
@keyframes showtext {
  0% { transform: translateY(-10%);
    opacity: 0;
  }
  60% {opacity: 0;}
  100% { transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes hidetext {
  0% { transform: translateY(0%);
    opacity: 1;
  }
  70% {opacity: 1;}
  100% { transform: translateY(-100%);
    opacity: 0;
  }
}
@keyframes showblock {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  30% {opacity: 0;}
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes hidelock {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  70% {opacity: 1;}
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
@keyframes equipments-show {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  20% {
    transform: translateY(-100px);
    opacity: 0.3;
  }
  50% {
    transform: translateY(-50px);
    opacity: 0.3;
  }
  75% {
    transform: translateY(-25px);
    opacity: 0.3;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
