.logement {
  width: 86.11%;
  margin: 0 6.94% 0 6.94%;
  &-section {
    width: 86.11%;
    margin: 0 6.94% 0 6.94%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    &__l1 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      &-tit {
        width: 95%;
        height: 100px;
      }
      &-tit1 {
        font-size: 36px;
        font-weight: 500;
        color: rgba(255, 96, 96, 1);
        margin-block: 0;
        padding-top: 10px;
      }
      &-tit2 {
        font-size: 18px;
        font-weight: 500;
        color: rgba(255, 96, 96, 1);
        margin-block: 0;
      }
      &-host {
        width: 167px;
        height: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-name {
          width: 93px;
          height: 52px;
          font-size: 18px;
          font-weight: 500;
          color: rgba(255, 96, 96, 1);
          margin-block: 0;
        }
        &-img {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
    &__l2 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      &-tags {
        //width: 70%;
        height: 25px;
        display: flex;
        justify-content: left;
        align-items: center;
      }
      &-rate {
        width: 196px;
        height: 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    &__l3 {
      width: 100%;
      margin-top: 20px;
      &-details {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
      &-rate {
        display: none;
      }
      &-host {
        display: none;
      }
    }
    &__l4 {
      display: none;
    }
  }
}
@media screen and (max-width: 375px) {
  .logement {
    width: 89.2%;
    margin: 0 5.34% 0 5.34%;
    &-section {
      width: 89.2%;
      margin: 0 5.34% 0 5.34%;      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 20px;
      &__l1 {
        width: 100%;
        margin-top: 15px;
        &-tit {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
        }
        &-tit1 {
          width: 90%;
          height: 46px;
          font-size: 18px;
          font-weight: 500;
          color: rgba(255, 96, 96, 1);
          margin-block: 0;
        }
        &-tit2 {
          height: 22px;
          font-size: 14px;
          font-weight: 500;
          color: rgba(255, 96, 96, 1);
          margin-block: 0;
        }
        &-host {
          display: none;
        }
      }
      &__l2 {
        width: 100%;
        height: 50px;
        margin-top: 15px;
        &-tags {
          width: 99%;
          display: flex;
          justify-content: left;
          flex-wrap: wrap;
        }
        &-rate {
          display: none;
        }
      }
      &__l3 {
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-details {
          display: none;
        }
        &-rate {
          width: 98px;
          height: 18px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        &-host {
          width: 135.5px;
          height: 33px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &-name {
            vertical-align: middle;
            width: 93px;
            height: 33px;
            font-size: 12px;
            font-weight: 500;
            color: rgba(255, 96, 96, 1);
            margin-block: 0;
          }
          &-img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
      &__l4 {
        width: 100%;
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
