.slideshow {
  position: relative;
  width: 86.11%;
  margin: 0 6.94% 0 6.94%;
  height: 415px;
  margin-top: 50px;
  &-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
    z-index: -1;
  }
  &-leftar {
    position: absolute;
    top: 200px;
    left: 10px;
    width: 96px;
    z-index: 1;
  }
  &-rightar {
    position: absolute;
    top: 195px;
    width: 96px;
    left: 95%;
    z-index: 1;
  }
  &-p {
    position: absolute;
    top: 360px;
    left: 48.95%;
    width: 24px;
    font-size: 18px;
    line-height: 25.67px;
    font-weight: 700;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    z-index: 1;
  }
}
@media screen and (max-width: 375px) {
.slideshow {
    position: relative;
    width: 100%;
    height: 255px;
    margin-top: 20px;
    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 255px;
      object-fit: cover;
      border-radius: 10px;
      z-index: -1;
    }
    &-leftar {
      position: absolute;
      top: 120px;
      left: 8px;
      width: 24px;
      height: 24px;
      z-index: 1;
    }
    &-rightar {
      position: absolute;
      top: 125px;
      left: 85%;
      width: 24px;
      height: 24px;
      z-index: 1;
    }
    &-p {
      display: none;
    }
  }
}